.intro-root {
  width: 80em;
  height: 24.3em;
  text-align: center;
}

.career-title {
  margin-top: 45px;
  margin-bottom: -5px;
  margin-left: 15px;
  font-size: 50px;
}

.desc1 {
  margin-bottom: -15px;
  margin-left: 15px;
  font-size: 22px;
  color: rgb(148, 148, 148);
}
