<hr />
<div class="spacer"></div>

<br />
<br />

<h2>Portfolio</h2>
<p>Feel free to have a look around!</p>
<div class="spacer"></div>
<br />
<div class="card-container">
  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/just_clocks"
  >
    <svg
      class="material-icons"
      id="just-clocks-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 14h-7v-8h2v6h5v2z"
      />
    </svg>

    <div>
      <span class="just-clocks-span">Just Clocks</span>
    </div>
    <svg
      class="material-icons"
      id="just-clocks-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <br />
    <p class="desc">
      A React application that features fully-animated and timzone accurate
      analog clocks! Keep track of the time in your timezone by changing the
      locale left of the clock.
    </p>
  </a>

  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/Frostbolt"
  >
    <svg
      class="material-icons"
      id="frost-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M6 22v-16h16v7.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-10.386h-20v20h10.189c3.163 0 9.811-7.223 9.811-9.614zm-2-11.386h-19v19h-1v-20h20v1zm-2-2h-19v19h-1v-20h20v1z"
      />
    </svg>

    <span class="frostbolt-span">Frostbolt (WIP)</span>

    <svg
      class="material-icons"
      id="frost-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <br />
    <p class="desc" id="frost-desc">
      Seed mock data into your development DB without needing a seeder script!
      Provide a DB URL, a schema and a limit, and this module will automatically
      seed data according to the schema.
    </p>
  </a>

  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/thoridal"
  >
    <svg
      class="material-icons"
      id="thoridal-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M10 13h-4v-1h4v1zm2.318-4.288l3.301 3.299-4.369.989 1.068-4.288zm11.682-5.062l-7.268 7.353-3.401-3.402 7.267-7.352 3.402 3.401zm-6 8.916v.977c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h14.056l1.977-2h-18.033v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-3.843l-2 2.023z"
      />
    </svg>

    <span class="thoridal-span">Thoridal</span>

    <svg
      class="material-icons"
      id="thoridal-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <br />
    <p class="desc">
      A full-stack note-taking application built in self-taught TypeScript. Take
      note of your daily trades with Thoridal's minimalistic UI and fully
      functional API endpoints!
    </p>
  </a>

  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/Nike-Replica-Inventory-Service"
  >
    <svg
      class="material-icons"
      id="inventory-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M6.689 5h10.623l.333 1h-11.289l.333-1zm-.581-3h11.785l2 6h2.107l-2.666-8h-14.667l-2.667 8h2.108l2-6zm1.248 1l-.333 1h9.956l-.334-1h-9.289zm-1.667 5h12.623l-.333-1h-11.957l-.333 1zm-4.189 8l-1.5-6h24l-1.5 6h-21zm8.5-3h4v-1h-4v1zm14 5l-1.5 6h-21l-1.5-6h24zm-10 2h-4v1h4v-1z"
      />
    </svg>

    <span class="inventory-span">Inventory Microservice</span>

    <svg
      class="material-icons"
      id="inventory-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <p class="desc">
      A component that keeps track of the inventory, and renders available sizes
      as selectable on the UI. Built for the Nike Page Replica CDN.
    </p>
  </a>

  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/Nike-Replica-Reviews-Service"
  >
    <svg
      class="material-icons"
      id="inventory-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      viewBox="0 0 22 22"
    >
      <path
        d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524v-12.005zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
      />
    </svg>

    <span class="inventory-span">Reviews Microservice</span>

    <svg
      class="material-icons"
      id="inventory-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <p class="desc">
      A component that collects user reviews for products, and dynamically
      displays the ratings & reviews. Built for the Nike Page Replica CDN.
    </p>
  </a>

  <a
    class="card"
    target="_blank"
    rel="noopener"
    href="https://github.com/martinsung00/Nike-Replica-CDN"
  >
    <svg
      class="material-icons"
      id="replica-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M5 7c2.761 0 5 2.239 5 5s-2.239 5-5 5-5-2.239-5-5 2.239-5 5-5zm11.122 12.065c-.073.301-.122.611-.122.935 0 2.209 1.791 4 4 4s4-1.791 4-4-1.791-4-4-4c-1.165 0-2.204.506-2.935 1.301l-5.488-2.927c-.23.636-.549 1.229-.943 1.764l5.488 2.927zm7.878-15.065c0-2.209-1.791-4-4-4s-4 1.791-4 4c0 .324.049.634.122.935l-5.488 2.927c.395.535.713 1.127.943 1.764l5.488-2.927c.731.795 1.77 1.301 2.935 1.301 2.209 0 4-1.791 4-4z"
      />
    </svg>

    <span class="replica-span">Nike Replica CDN</span>

    <svg
      class="material-icons"
      id="replica-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
    <br />
    <p class="desc" id="replica-desc">
      The central hub that houses the Reviews, Inventory, Pictures, and Description microservices. This CDN renders all the components into one single product page.
    </p>
  </a>
</div>

<br />
<br />
